<div class="card text-center note">
    <div class="card-body">
        <h5 class="card-title"> {{ note.title }} </h5>
        <p class="card-text"> {{ note.content }}</p>
        <p class="card-text"><small class="text-muted">Creaded at: {{ note.createdAt|date }}</small></p>
        <form action="{{ url('app_note_delete', { id: note.id}) }}" method="post">
            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
            <button class="btn btn-outline-danger">Delete</a>
        </form>
    </div>
</div>
