{% extends 'base.html.twig' %}

{% block title %}Hello NoteController!{% endblock %}

{% block body %}
<style>
    .notes { margin: 1em auto; max-width: 800px; font: sans-serif; }
    .card-columns { column-count: 3; column-gap: 1.25rem; }
    .card { margin-bottom: 1.25rem; display: inline-block; width: 100%;}
</style>

<div class="container-lg mt-4">
{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}


        <div class="card-columns">
        {% for note in notes %}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"> {{ note.title }} </h5>
                    <p class="card-text"> {{ note.content }}</p>
                    <p class="card-text"><small class="text-muted">Creaded at: {{ note.createdAt|date }}</small></p>
                    <form action="{{ url('app_note_delete', { id: note.id}) }}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
                        <button class="btn btn-outline-danger">Delete</a>
                    </form>
                </div>
            </div>
        {% endfor %}
        
    
</div>
{% endblock %}
