<div {{ attributes }}>
    <div class="form-group mt-4">
        <input type="search"
               class="form-control search-field"
               placeholder="Search for friends"
               autocomplete="off"
               data-model="query"
               autofocus
        >
    </div>

    <div class="row mt-4">
        {% for userView in this.users %}
            {% if userView.friendshipStatus == null %}
                {{ include('users/_user.html.twig') }}
            {% elseif userView.friendshipStatus.value == 'accepted'  %}
                {{ include('users/_friend.html.twig') }}
            {% elseif userView.friendshipStatus.value == 'pending' %}
                {{ include('users/_pending.html.twig') }}
            {% elseif userView.friendshipStatus.value == 'rejected' and userView.isReceiver == true %}
                {{ include('users/_rejected.html.twig') }}
            {% endif %}
        {% else %}
            {{ 'Cand find any friends' }}
        {% endfor %}
    </div>

    {% if this.users.haveToPaginate %}
        <div class="d-flex justify-content-center">
            {{ pagerfanta(this.users, { 'routeName': 'app_friends_search', 'routeParams': {query: query}}) }}
        </div>
    {% endif %}
</div>
